@charset "UTF-8";
    * {margin:0;padding:0;box-sizing:border-box;font-size:20px;color:#333;font-weight:normal;}
	ul {list-style:none;}
	a {text-decoration:none;}
    
	.cf::before, .cf::after {content:"";display:block;clear:both;}
	body {width : 1920px; margin : 0 auto; }
	
	select,input {border : 1px solid #ddd; border-radius: 5px;}
	.btn { width : 120px; height: 45px; line-height : 45px;  margin-top : 10px; background : #32bebe; border-radius : 15px; text-align : center; color : #fff; font-size : 18px;}
	.btn:hover{background: coral}
	.btn1 { width : 120px; height: 40px; line-height : 40px;  margin-top : 10px; background : #32bebe; border-radius : 15px; text-align : center; color : #fff; font-size : 18px;}
	.btn1:hover{background: coral}
	.btn2 {display:inline-block; width : 200px; height: 40px; line-height : 40px; margin-top : 10px; background : #32bebe; border : 1px solid #ddd; border : none; border-radius : 5px; text-align : center; color : #fff; font-size : 18px;}
	.btn2:hover {background : coral; }
	 .btn3 {width : 180px; height: 35px; line-height:35px; border-radius : 5px; text-align:center; background: #32bebe; color : #fff; }
 	.btn3:hover {background: coral}
	.btn4 { width : 90px; height: 30px; line-height : 30px;  margin-top : 10px; background : #32bebe; border-radius : 15px; text-align : center; color : #fff; font-size : 16px;}
	.btn4:hover{background: coral}
 /*-------------------------------- header ---------------------------------------*/
    header { height:100px;}
	header h1 a {display : inline-block; float : left; width : 80%; margin-left : 10%; text-align:center;line-height:100px;font-size:50px;font-weight: bolder; color : teal;}
	
	header .adminMy  {position: relative; float : left;}
	header .adminMy h4{margin-top : 40px;}
	header .adminMy ul {position: absolute; width : 240px; left : -50px;}
	header .adminMy ul li { float : left; width : 80px; text-align : center; font-size: 14px; border-right: 1px solid teal}
	header .adminMy ul li:last-child {border : none;}
	header .adminMy ul li a {display:block; font-size: 14px;}
 /*line-height:100px;세로 중앙정렬*/
 
 /*-------------------------------- admin_main ---------------------------------------*/
	.adminMenu {background: teal;}
	.adminMenu>ul {width:1200px;height : 40px; margin:0 auto;padding:0 15px;}
	.adminMenu>ul>li {float:left;width:16.66666%; height : 40px; border-left:1px solid #fff;}
	.adminMenu>ul>li:last-child {border-right:1px solid #fff;}
	.adminMenu>ul>li>a {display:block;text-align:center;line-height:40px; color : #fff;}

	#visual {height:400px;padding:100px 0 0 0;background:url(https://jeonju.go.kr/planweb/upload/9be517a74f72e96b014f820463970068/board/9be517a74f72e96b014f831392ca0fe0/original/3073f925-475c-45f4-bd90-36cd94eb66e9.jpg) no-repeat center center/cover;text-align:center; }
	#visual h2 {color:#ddd;font-size:75px;font-weight:bold;} 
	#visual p {color:#ddd;font-size:18px;} 

	#contents {padding:50px 0;}
    #contents>div {width:1200px; margin:0 auto;}
    #contents>div:after {content:""; display:table; clear:both;}
    #contents>div>div {float:left; width:33.333333%; padding:0 15px; }

    #contents>div>div h3 {line-height:30px; border-bottom:2px solid teal; margin-bottom:10px; }
    #contents>div>div h3>small {float:right; font-size:12px; line-height:30px;}

    #contents ul>li {border-bottom:1px dotted #ddd;}
    #contents ul>li>a {display:block; line-height:30px; }
    #contents ul>li>a>small {float:right; line-height:30px; font-size:14px;}

    #contents>div>div h2 {border-bottom:2px solid teal; margin-bottom:25px; text-align:right;}
    #contents>div>div h2>a {font-size:30px; font-weight:700; letter-spacing:-0.025em; line-height: 80px;}
    #contents>div>div p {text-align:right; }


    /*--------------------------------admin section#bodyWrap > div.wrap ---------------------------------------*/

    #bodyWrap {width : 1500px; height : 675px; margin : 0 auto;}
	
	
	 /*--------------------------------admin-Mypage ---------------------------------------*/
	 #bodyWrap>h2 {margin-left: 250px; margin-top: 50px; text-decoration: underline; font-weight: bold}
	#bodyWrap .conWrap { width : 1000px;  margin : 10px auto; border-top : 2px solid #66cccc;  border-bottom : 2px solid #66cccc;}
	#bodyWrap .conWrap>div {width : 100%; height : 50px; margin : 0;    border-bottom : 1px dotted #66cccc;}
	#bodyWrap .conWrap>div span,p {display: inline-block; height : 50px; line-height : 50px; text-align : center;}
	#bodyWrap .conWrap>div span {width : 200px; background : #32bebe; color : #fff; border-bottom: 1px solid #fff;}
	#bodyWrap .conWrap>div:last-child {border-bottom: none;}
	#bodyWrap .conWrap>div:last-child span {border-bottom: none;}
	#bodyWrap .conWrap>div p {width : 780px;}
	#bodyWrap div.btn {margin-left : 1100px;}


 /*-------------------------------- admin_member ---------------------------------------*/
 	
 	.leftWrap {float: left;}
    .leftWrap ul li {width: 200px;height: 50px; line-height : 50px; font-size : 22px; text-align : center; cursor: pointer; border-bottom : 1px dotted teal}
    .leftWrap ul li:hover {color : coral;}

    .rightWrap {position: relative; float:left; margin-left : 120px;}
    .rightWrap div {position : absolute; display : none; width : 1100px; margin:0; padding:0;}
 	.rightWrap div h2 {font-size : 20px; font-weight : bold; text-decoration : underline; margin-bottom : 10px;}
 	
 	.con1 .list-title {display: block; width : 100%; height : 50px; line-height : 50px; background : #32bebe;}
 	.con1 .list-title span {display : block; float : left; width : 10%; font-size : 14px; text-align : center; color : #fff;}
 	.con1 .list-title span:nth-child(7) {width : 40%;}
 	.con1 .list {display : block; width : 100%;  margin-top : 50px;   }
 	.con1 .list p {width : 100%; height : 40px; line-height : 40px;}
 	.con1 .list span {display : block; float : left; width : 10%; font-size : 14px; text-align : center; border-bottom : 1px dotted #66cccc;}
 	.con1 .list span:nth-child(7) {width : 40%;}
 	.con1 .list p:hover span {background : rgba(255,240,120,0.4); font-weight : bold;}
 	
 	.con2 .insertForm {display: block; width : 500px; height: 500px; border : 1px solid #32bebe;}
 	.con2 .insertForm form {width : 300px; margin : 10px auto;}
 	.con2 .insertForm form select {margin-left : 0}
 	.con2 .insertForm form input,select {display : inline-block; width : 300px; height : 45px; line-hehiht : 45px; margin-bottom : 7px; border : 1px solid #ddd; border-radius : 5px;}

	.con4 .updateForm {display: block; width : 500px; height: 500px; border : 1px solid #32bebe;}
 	.con4 .updateForm form {width : 100%; margin : 10px auto;}
 	.con4 .updateForm form span {display : inline-block; width : 160px; margin-left: 10px; font-size: 18px; }
 	.con4 .updateForm form input,select {display : inline-block; width : 300px; height : 45px; line-hehiht : 45px; margin-left: 10px; margin-bottom : 7px; padding-left : 10px; border : 1px solid #ddd; border-radius : 5px;}

 /*-------------------------------- admin_notice ---------------------------------------*/
 	.noticeWrap {width : 1170px; height:100%; margin : 0 auto; border-left:2px solid #b6e7e7; border-right:2px solid #b6e7e7;  font-size : 18px; font-weight: bold;}
 	.noticeWrap form {width :1200px; margin : 0 auto; padding : 15px 60px;}
 	.noticeWrap form p {display: inline-block; height: 40px;margin-bottom: 7px;}
 	.noticeWrap form input.b-title {width : 1000px;}
 	.noticeWrap form p input,select {width : 300px; height : 35px; line-height : 35px; border : 1px sloid #ddd;}	
 	.noticeWrap form p textarea {width : 100%;}

 
		 /*-------------------------- read -----------------------------*/	
 	.noticeWrap ul.read {width : 900px; margin : 0 auto; padding-top : 30px; }
 	.noticeWrap ul.read li{float : left; width : 50%;  border-bottom : 1px dotted  #b6e7e7;}
 	.noticeWrap ul.read li:first-child {width : 200px; border-top : 1px solid #66cccc;}
 	.noticeWrap ul.read li:nth-child(2) {width : 700px;  border-top : 1px solid #66cccc;}
 	.noticeWrap ul.read li p {width :120px; height : 35px; line-height : 35px; background : #32bebe; color : #fff; }
 	.noticeWrap ul.read li:last-child {float: none;width : 100%; height : 400px; padding : 10px;border-bottom : 1px solid #66cccc; overflow-y: scroll;}
 	.noticeWrap ul.read li:last-child p{width : 0; background: #fff; color: #000;}
 	
 	.prev-next {width : 900px; height : 75px; margin: 0 auto; margin-top : 5px; border-top : 1px dotted #ddd;}
 	.prev-next li {padding-left: 20px;height: 25px; font-size: 14px;  border-bottom : 1px dotted #ddd;}
 	.prev-next li a {line-height: 25px; font-size: 14px;}
 	
 	.btnWrap {position : relative; width : 900px; margin : 0 auto; margin-top : 5px;}
 	.noticeWrap div div.btn3 {position: absolute; float : left;}
 	/*-------------------------- list -----------------------------*/	
 	.boardList {width : 1200px; margin : 0 auto; padding : 20px;}
 	.content {width : 1100px; margin : 0 auto;}
 	.content .listTitle {width : 100%; height : 40px; line-height: 40px;background : #32bebe;  text-align: center;}
 	.content .listTitle span {display : inline-block; width : 9%; color : #fff; }
 	.content .listTitle span:nth-child(2) {width : 50%}
 	.content .listTitle span:nth-child(4),span:nth-child(5) {width : 16%}  
 	
 	.content .list {width : 100%; height : 35px; line-height : 35px; border-bottom: 1px dotted #66cccc; text-align: center;}
 	.content .list:hover {background : rgba(255,240,120,0.4); font-weight : bold;}
 	.content .list span {display : inline-block; width : 9%;  font-size : 18px; }
 	.content .list span:nth-child(2) {width : 50%}
 	.content .list span:nth-child(4),span:nth-child(5) {width : 16%}  
 	
 	.pages {width : 800px; height : 30px; line-height : 30px; margin : 0 auto;}
 	
 	.searchWrap {width : 700px; margin : 0 auto;}
  	.searchWrap select {width : 150px;}
  	.searchWrap select,input {height : 30px; line-height: 30px;  }
  	.searchWrap div.btn4 {display: inline-block; margin : 0 0 0 10px; }
 /*-------------------------------- footer ---------------------------------------*/
	footer{height : 120px; padding:20px 0; background:teal;}
    footer>div {width:1200px; margin:0 auto;}
    footer>div>div {float: left; padding:0 15px;}
    footer>div>div:nth-child(1) {width:25%; color:#fff;}
    footer>div>div:nth-child(2) {width:60%; padding-top:30px; font-size:12px;  color:#fff;}
    footer>div>div:nth-child(3) {width:15%; text-align:right; padding-top:30px;}
    footer>div>div h2 {font-size: 24px; font-weight: bold; color : #fff;}
    footer i{color:#fff; font-size:30px;}


    