@charset "UTF-8";
 /* font */
* {
            margin: 0;
            padding: 0;
            box-sizing:border-box; 
            font-size:inherit;
            font-weight:normal; 
            line-height:1.25;
            color: inherit;
        }
        body {
            width: 1900px;
            margin: 0 auto;
            font-family: 'Noto Sans KR', sans-serif;
        }
        ul { list-style:none; }
        a { text-decoration: none; }
        .clreafix::before, .clearfix::after {
            content: '';
            display: block;
            clear: both;
        }
        
#bodyWrap { width : 1500px; margin : 0 auto;}
#bodyWrap>div>h1 {font-size: 38px; color : teal; font-weight: bold;}
#bodyWrap>div>h2 {font-size: 30px; color : teal; }
#bodyWrap>div>h2, h3 {margin-left : 20px; margin-bottom : 5px;}

.btn1{height : 40px; line-height: 40px; background: #444; color : #fff; border: none; border-radius: 5px;}
.btn1:hover {background : coral; font-weight: bold;}

.btn2{width : 200px; height : 40px; line-height: 40px; background: #444; color : #fff; border: none; border-radius: 5px;}
.btn2:hover {background : coral; font-weight: bold;}
input,p,label,output { display: inline-block;}
input { border : none; border-radius: 5px;}
/*----------------------------------------- join -----------------------------------------*/
.joinWrap {width : 800px; height : 950px; margin : 0 auto; padding : 30px 10px; background: #eee; }
.joinWrap .formWrap {width : 700px; margin : 0 auto; padding : 20px 10px;}
.formWrap>form>div {width : 100%; padding : 5px 0;  border-bottom: 2px dotted #fff;}
.formWrap>form>div:last-child {border:none;}
.formWrap p,label { margin-bottom: 3px}
.formWrap label {width : 200px; height: 40px; line-height: 40px; font-size : 20px;}
.formWrap input {width : 470px; padding-left:10px; height: 40px; line-height: 40px; font-size : 20px;}
.formWrap output {margin-left : 200px; width : 450px;}
.formWrap input.btn1 { width : 150px;  }

.formWrap .radio p {width : 200px; height : 30px;  line-height: 30px;}
.formWrap .radio input {width : 100px;height : 25px; }

/*----------------------------------------- login -----------------------------------------*/
.loginWrap {width : 800px; height : 430px; margin : 125px auto; padding : 10px; background : #eee;}

.loginForm { width : 350px; margin : 0 auto; margin-top: 30px; margin-bottom : 5px;}
.loginForm input {width : 330px; height : 45px; line-height: 45px; padding-left: 10px; margin-bottom : 5px;}

.loginMenu {width : 340px; margin : 0 auto; font-size: 18px; padding : 0 20px; margin-bottom: 10px;}
.loginMenu input[type=checkbox] {zoom: 1.5;}
.loginMenu p {margin-bottom:3px}
.loginMenu p a:hover{color: coral;}

.loginApi {width : 350px; margin : 0 auto; padding : 0 10px;}
.loginApi img{width : 150px;}

/*----------------------------------------- Mypage -----------------------------------------*/
.loginWrap .text {width : 380px; height : 50px;  line-height: 50px; margin : 30px  0 10px 200px;   font-size : 18px;}
.loginWrap .text i {color : orange;}

.checkPw { width : 350px; height : 180px; margin : 0 auto; margin-bottom : 5px; border : 2px dotted #fff; padding : 10px 25px;}
.checkPw input {width : 300px; height : 45px; line-height: 45px; padding-left: 10px; margin-bottom : 5px;}


/*----------------------------------------- Mypage-Modify-----------------------------------------*/
#bodyWrapBg {width : 100%; height : 700px; background : #eee;}
#bodyWrapBg h2 {font-size: 30px; color : teal; }
#joinWrap {height : 700px; background : #fff; }
.formWrap { border : 2px solid #ddd; }
#joinForm {width : 100%;padding : 15px;}
#joinForm > div > label {width : 170px}
#joinWrap #joinForm > div > p > input {border : 1px solid #eee;}
/* #joinForm div {border-bottom: 1px dotted #ddd;}*/
#joinWrap div:nth-child(6) {border-bottom: 1px dotted #ddd;} 

.btnWrap {margin : 30px 0 0 0;}
#joinWrap #joinForm div.btnWrap input.btn1 {width : 140px; margin-right: 103px; font-size : 18px;}
/*----------------------------------------- Mypage-ModifyPw -----------------------------------------*/
#changePw {height : 560px; margin : 60px auto;}
#changePw .checkPw {height : 170px;}
#changePw #newPw {height : 220px; } 
#changePw .checkPw:last-child {border-color: red; display : none; }
#changePw .checkPw input {height : 40px; line-height: 40px;}

