@charset "UTF-8";
* {
            margin: 0;
            padding: 0;
            box-sizing:border-box; 
            font-size:inherit;
            font-weight:normal; 
            line-height:1.25;
            color: inherit;
        }
        body {
            width: 1900px;
            margin: 0 auto;
            font-family: 'Noto Sans KR', sans-serif;
        }
        ul { list-style:none; }
        a { text-decoration: none; }
        .clreafix::before, .clearfix::after {
            content: '';
            display: block;
            clear: both;
        }

#movieWrap {width : 1500px; margin: 0 auto; padding : 20px 10px;}

/*-------------------------------- cinema ------------------------------------- */
#movieWrap .storeWrap {width : 1000px; margin : 0 auto;}
 #movieWrap .tab > p {display: inline-block; text-align: center; }
#movieWrap .tab .iwrap {color: #555;width: 80px; height: 80px; line-height: 80px; padding-top: 5px; border: 1px solid #ddd; border-radius: 50%;}
#movieWrap .tab {width: 100%;}
#movieWrap .tab .tabMenu ul {overflow: hidden;}
#movieWrap .tab .tabMenu ul li {float: left; width:33.3%; height : 50px; line-height: 50px;font-size: 20px; text-align: center; border: 1px solid #ddd;border-bottom: 1px solid teal; }
#movieWrap .tab .tabMenu li.on {border: 1px solid teal; border-bottom: none;}

#movieWrap .tab .tabCont {padding: 20px;}
#movieWrap .tabCont div{width: 100%;   }
        
#movieWrap .infoWrap {width: 100%; padding : 10px;}
#movieWrap .infoWrap > div {margin-top: 20px;;}
        
#movieWrap .storeWrap > h1 {height : 50px; line-height : 50px; font-size : 30px; margin : 20px; color : teal;	}
#movieWrap .tab > h2, h3, h4{margin: 10px 0; color : teal;}
#movieWrap .tab > h4 {font-size: 1.1em; margin-top: 30px;}
        
#movieWrap .price{width: 100%;margin: 0 auto;}
#movieWrap .price > article {width: 950px; margin: 0 auto;}
#movieWrap .price > article > div {display: inline-block;width: 450px; margin : 10px;}
#movieWrap .table {width: 100%; height: 200px;border-top : 2px solid #333; border-bottom: 2px solid #333;border-collapse: collapse; text-align: center;}
#movieWrap .price p{font-size: 15px;}
#movieWrap .table th{height: 40px; background: #eee; border-bottom: 1px solid #bbb;}
#movieWrap .table th,td {border-right: 1px solid #ddd;}
#movieWrap .table td {border-bottom: 1px solid #ddd;}
 #movieWrap .table th:last-child,td:last-child {border-right: none;}


/*-------------------------------- cinema ------------------------------------- */

	
.ticket > nav {display: inline-block}
.ticket > div {display: inline-block}
.ticket::before, .reservation::after{content : ''; display: block; clear: both}
.ticket {width: 1200px; height: 660px; margin : 0 auto; text-align: center;}
.ticket .text {width: 100%; height : 60px;line-height: 60px; background: #333; color: #fff; font-size: 22px; font-weight: bold; }
.ticket nav:first-child { border-left:1px solid #333;}
.ticket nav {float: left; width: 300px; height: 660px;}
.ticket nav ul{position: relative; width: 149px; height: 599px;  background: #eee;}
.ticket ul li {width: 100%; height : 40px; line-height: 40px;}
.ticket > nav > ul > li > p {width : 100%; height : 40px; line-height : 40px;}
.ticket ul li .sub {position: absolute; display: none; top:0; left: 149px; background: #fff;}
.ticket ul li .sub li {}
.ticket ul li:first-child .sub {display: block}
        
.ticket nav ul#theater_info_movie { text-align: left; background: #fff;}
.ticket nav ul#theater_info_movie li {width: 298px; padding-left: 10px;}
.ticket nav ul#theater_info_movie li b {margin-left: 10px;}
        
.ticket .nav {border-right: 1px solid #333;border-bottom: 1px solid #333;}
.ticket #choice3 {width: 600px;height: 660px}
.ticket #dateForm {border-bottom: 1px solid #333; }
.ticket #dateForm li {display: inline-block;width : 80px;  height : 80px; font-size: 20px; border-radius: 50%; text-align: center;}
.ticket #dateForm li p,span {height: 40px;line-height: 40px; margin :0}
.ticket #dateForm li > p {display: block;}
.ticket #dateForm li.on {font-weight: bold; background : #eee; border : 1px dotted #ccc;  }
.ticket #movieList {width : 100%; height : 517px;padding: 10px 0; overflow-y: scroll;}

#choice2 > ul#theater_info_movie {width : 298px;}
#choice2 > ul#theater_info_movie li {width : 100%; height : 50px; padding-top: 5px; cursor: pointer;}

#choice2 > ul#theater_info_movie > li > span:nth-child(1) {display : inline-block; font-size: 18px;} 
#choice2 > ul#theater_info_movie > li > span:nth-child(2) {float : left;display : inline-block; width : 40px; margin-right : 10px; border-radius: 50%;font-size : 14px;  text-align: center; color : #fff;}

/*-------------------------------- ticket2 ------------------------------------- */
		#stWrap {width: 1200px; margin: 0 auto;}
        #seatWrap {position: relative; float: left; width: 800px; height: 650px; padding : 10px; border: 1px solid #000;}
        #cover {position: absolute; width: 100.3%; height: 574px; top: 75px; left: -1px; line-height: 570px; text-align: center; color: #fff; background: rgba(0,0,0,0.6); z-index: 10}
        #cover > span {font-size: 30px;}
        
        .count {width: 470px; margin: 0 auto; margin-bottom: 20px;}
        .cell {display: inline-block; width: 150px; height: 50px; font-size: 24px; }
        .cell > input {width: 50px; height: 45px; line-height: 45px; font-size: 20px; border : 1px solid #ddd;}
        
        .screen {width: 60%; height: 20px; margin: 0 auto; background: #000; color: #fff; text-align: center;}
        .screen > span {margin : 0; line-height: 20px; }
        .seat {width : 700px; height: 500px;margin: 0 auto; padding : 10px 0; border: 1px solid #444; }
        .rowWrap { height: 30px; margin : 0 auto;}
        .rowWrap .row {position: relative; display: inline-block; width: 23px; height: 23px; margin: 0 3px; padding: 0; background: #fff; border: 1px solid #333; border-radius: 7px 7px 0 0; color: #fff;  }
        .rowWrap .row:first-child {width: 30px; border : none; font-size: 12px; }
        .rowWrap .row > p {margin: 0; padding: 0; border: none; color: #000;  height: 20px;}
        .rowWrap .row.off {background: #000; color : #000}
        .rowWrap .row.on {background: teal; color: teal}
        .rowWrap .row > span {position: absolute; display: inline-block; width :99%; height : 21px; line-height: 6px; margin: 0;font-size: xx-small; border-radius: 7px 7px 0 0; cursor: pointer}
        
        #ticketWrap {float : left;width: 350px; height: 650px; background: #000; padding : 10px; color : #fff}
        .ticketinfo {width: 100%; height : 500px;}
        .ticketinfo img {display: block; width: 180px; height: 250px; margin: 0 auto; background: #ddd;}
         .ticketinfo > p {width : 100%;}
        .ticketSubmit {width: 100%; height: 100px; line-height: 100px; background: #000;border: none; border-top: 2px solid #eee; color: #fff; font-size: 30px;}
        .ticketSubmit:hover {background: coral;}





