@charset "UTF-8";

        /* font */
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
        
/*    <link href="">*/
        
        /* reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing:border-box; 
            font-size:inherit;
            font-weight:normal; 
            line-height:1.25;
            color: inherit;
        }
        body {
            width: 1900px;
            margin: 0 auto;
            font-family: 'Noto Sans KR', sans-serif;
        }
        ul { list-style:none; }
        a { text-decoration: none; }
        .clreafix::before, .clearfix::after {
            content: '';
            display: block;
            clear: both;
        }
        
        
        /* header */
        #header {
            width: 100%;
            height: 110px;
            z-index: 100;
            background: #ccc;
            text-align: center;
            color: #fff;
        }
        #header div.top-menu {
            width: 100%;
            height: 60px;
        }
        #header div.top-menu h1 {
            float: left;
            width: 100px;
            height: 60px;
            margin-left: 500px;
            line-height: 60px;
            font-weight: bolder;
            font-size: 24px;
        }
        #header div.top-menu div ul{ margin-bottom: 20px;}
        #header div.top-menu div.top-left-nav{
            float: left;
            width: 210px;
            margin-left: 180px;
        }
        #header div.top-menu div.top-right-nav{
            float: right;
            width: 210px;
            margin-right: 180px;
        }
        
        #header div.top-menu div>ul>li {
            float: left;
            width: 70px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
        }
        
        #header nav.menu {
            position: relative;
            height: 50px;
            font-size: 20px;
            background: rgba(0, 0, 0, 0.6);
        }
        #header nav.menu>ul {
            width: 600px;
            margin: 0 auto;
        }
        #header nav.menu>ul li {
            position: relative;
            float: left;
            width: 150px;
            height: 50px;
            line-height: 50px;
        }
        #header nav.menu>ul li a {
            display: block;
            width: 100%;
            margin-top: 15px;
            border-right: 1px solid #fff;
        }
        #header nav.menu>ul li:last-child a { border: none; }
        #header nav.menu ul.sub {
            position: absolute;
            display: none;
            width: 600px;
            font-size: 18px;
            margin-left: -150px; 
            z-index: 10;
        }
        #header nav.menu ul.sub li {
            float: left;
            color : #eee;
            border: none;
        }
        #header nav ul.sub li a { border: none; }

        #header nav.menu div.mbg{
            position: absolute;
            display: none;
            width: 100%;
            height: 40px;
            top : 50px;
            background: rgba(0, 0, 0, 0.7);
            z-index: 5;
        }
        

        
        
        
        
    /* slider */
    #slider img {
        width: 100%;
        height: 770px;
    }
    #slider .slider-main .prev, #slider .slider-main .next {width:100px; height:100px; border-left:1px solid #fff; border-top:1px solid #fff; position:absolute; top:50%; z-index:1;}
    #slider .slider-main .prev {left:80px;transform: translateY(-50%) rotate(-45deg);}
    #slider .slider-main .next {right:80px;transform: translateY(-50%) rotate(135deg);}
    #slider .slider-main ul.slick-dots {position:absolute; bottom:30px; width:100%; text-align:center;}
    #slider .slider-main ul.slick-dots li {display:inline-block; width:50px; height:4px; background:#fff; margin:0 3px;}
    #slider .slider-main ul.slick-dots li.slick-active {background:#f00;}
    #slider .slider-main ul.slick-dots button {display:none;}
    
        
    /* tab */
    #tab {
        width: 1500px;
        margin: 0 auto;
        margin-top: 50px;
    }
    #tab .tabBtn ul {overflow: hidden;}
    #tab .tabBtn ul li {
        float: left; 
        width:250px; 
        font-size: 24px;
        text-align: center;
    }
    #tab .tabBtn li.active {
        color : coral;
        font-weight: bolder;
    }
    #tab .tabBtn ul li:first-child{
        width: 250px;
        border-right : 2px solid coral; }
    #tab .tabCon{
        margin-top : 20px;
        width: 100%;
        height: 350px;
    }
    #tab .tabCon div ul li {
        position: relative;
        float: left;
        margin: 10px 30px;
        width: 235px;
    }
    
    #tab .tabCon div ul li img {
        width: 235px;
    }
    #tab .tabCon div ul li p{
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        top :0;
        left: 0;
        color: #fff;
    }
    
    #tab .tabCon div ul li:hover p {
        display: block;
        background: rgba(0, 0, 0, 0.8);
    } 
        
    /* icon */
    #icon {
        margin: 0 auto;
        margin-top: 50px;
        width: 1200px;    
    }
    #icon div.icon-item {
        float: left;
        margin: 30px 20px;
        width: 200px;
        height: 150px;
        text-align: center;
        background: #f8f8f8;
        border-radius: 10px;
    }
    #icon div.icon-item i {
        margin-top : 5px;
        font-size: 110px;
        color : darkslateblue;
    } 
        
    
        #content {
            width: 1500px;
            margin: 0 auto;
            margin-top: 50px;
            border-top : 1px solid #ddd;
            border-bottom : 1px solid #ddd;
        }
        #content div {
            float: left;
            width: 46%;
            height: 160px;
            margin: 20px;
        }
        #content div ul {
            padding: 10px;
        }
        #content div ul li {
            height: 40px;
            line-height: 40px;
        }
        
        #event {
            width: 1500px;
            margin: 0 auto;
            margin-top: 50px;
            padding: 20px 30px;
        }
        #event div {
            float: left;
            width: 31.5%;
            height: 200px;
            background: teal;
            margin-right: 30px;
            border-radius: 30px;
        }
        #event div:last-child {
            margin-right: 0;
        }
        
    /* footer */
        #footer {
            width: 100%;
            height: 150px;
            margin-top: 50px;
            border-top : 2px solid #ddd;
        }

        #footer .btmenu {
            width: 100%;
            height: 40px;
            padding-left: 100px;
        }
        #footer .btmenu a {
            display: block;
            float: left;
            margin-right: 30px;
            line-height: 40px;
            font-size: 14px;
        }
        #footer .btmenu a  p {
            line-height: 40px;
        }
        #footer .btwrap {
            width: 100%;
        }
        #footer .btwrap .btlogo {
            float: left;
            width: 200px;
            height: 100px;
            padding: 20px;
        }
        #footer .btwrap .copyright {
            float: left;
            width: 1000px;
            height: 100px;
            padding: 20px;
            font-size: 14px;
        }
        #footer .btwrap .sns {
            float: left;
            width: 700px;
            height: 100px;
            padding: 20px;
            
        }
        #footer .btwrap .sns a {
            text-align: center;
        }
        #footer .btwrap .sns i {
            font-size: 40px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 30px;
            background: #ddd;
            color: #fff;
        }
        
